.title-container {
  h2,
  h3 {
    color: #000;
    font-weight: 500;
  }
  h2,
  h3 {
    font-size: 4.2rem;
  }
  p {
    color: #000;
    font-size: 3.2rem;
    font-weight: 300;
  }
  span {
    color: #3d8bd4;
    font-size: 2.5rem;
    background-color: white;
    padding: 0.2rem;
  }
  .spanh1 {
    color: black;
    -webkit-text-stroke: 0.5px black;
    font-size: 5.7rem;
    background-color: #d9ef54;
  }
}

.footer-title {
  font-size: 1.6rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
}

.GIT-card {
  .form-title {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  form {
    font-weight: 500;
    font-size: 1.6rem;
    label,
    textarea,
    button,
    input {
      font-size: 1.4rem;
    }
    input {
      font-family: "Rubik", sans-serif;
      background-color: #fefffe;
    }
    button {
      font-family: "Rubik", sans-serif;
    }
  }
}
