.title-container {
  h1,
  h2,
  h3 {
    color: white;
    font-weight: 500;
  }
  h1 {
    font-size: 4.2rem;
  }
  h2,
  h3 {
    font-size: 3.2rem;
  }
  p {
    color: #9ca3af;
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.footer-title {
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
  margin-bottom: 1rem;
}
