@charset "UTF-8";
* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
}

.linea {
  border-top: 1px solid white;
  height: 1px;
  max-width: 20%;
  padding: 0;
  margin: 10px 0;
}

.footer-title {
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
  margin-bottom: 1rem;
}

body {
  background-color: #0a1526;
}

/* Navbar */
nav {
  height: 7.5rem;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

nav .logo-container .logo {
  margin-left: 2rem;
}

nav .nav-list {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 7.5rem;
  float: right;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(16, 22, 46, 0.75);
}

nav .nav-list li {
  display: none;
  line-height: 3rem;
  margin: 5rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .nav-list li a {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

nav .nav-list li a.active,
nav .nav-list li a:hover {
  color: #1199fa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .hamburger-btn {
  display: block;
  font-size: 3rem;
  color: black;
  float: right;
  line-height: 7.5rem;
  margin-right: 4rem;
  cursor: pointer;
}

nav #check {
  display: none;
}

nav #check:checked ~ .nav-list {
  height: 40vh;
}

nav #check:checked ~ .nav-list li {
  display: block;
  top: 0;
}

/* Pie de página */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vh;
  border: 1px solid red;
  padding: 2.7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-sections {
  height: auto;
  width: 100%;
  border: 1px solid white;
}

footer .footer-sections a {
  font-weight: 300;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

footer .footer-social {
  border: 1px solid white;
  height: auto;
  width: 100%;
  text-align: right;
}

footer .footer-social .linea {
  margin-left: 80%;
}

footer .footer-social .footer-social__icons {
  width: auto;
  height: 2rem;
}

footer .footer-social .footer-social__icons i {
  margin-top: 0.5rem;
  color: white;
  font-size: 2rem;
  margin-right: 1rem;
}

/* INDEX */
.title-container {
  /* Contenedor de los titulos al inicio de la página */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3rem;
}

.title-container h1,
.title-container h2,
.title-container h3 {
  color: white;
  font-size: 4rem;
  font-weight: 500;
}

.title-container p {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}

.work-container {
  /* Trabajos */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 45vh;
}

.work-container .work-title-container {
  /* Contenedor de los 2 <p> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.work-container .work-title-container .first-p {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}

.work-container .work-title-container .second-p a {
  color: #1199fa;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
}

.work-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 36vh;
}

.work-container .cards-container .card {
  backdrop-filter: blur(1.6rem) saturate(180%);
  -webkit-backdrop-filter: blur(1.6rem) saturate(180%);
  background-color: rgba(16, 22, 46, 0.75);
  border-radius: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 40%;
  height: 80%;
}

@media only screen and (min-width: 900px) {
  nav {
    height: 10rem;
    background-color: transparent;
  }
  nav .logo-container {
    margin-left: 2.5rem;
  }
  nav .hamburger-btn {
    display: none;
  }
  nav .nav-list {
    position: relative;
    height: 10rem;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    margin-right: 2.5rem;
    -webkit-transition: none;
    transition: none;
  }
  nav .nav-list li {
    display: inline-block;
    opacity: 1;
    line-height: 10rem;
    margin: 0 2rem;
    -webkit-transition: none;
    transition: none;
  }
  nav .nav-list li a {
    color: #37485f;
  }
  nav .nav-list li a.active,
  nav .nav-list li a:hover {
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */