@import "reset";
@import "layout";
@import "typo";

body {
  background-color: #0a1526;
}

/* Navbar */
nav {
  height: 7.5rem;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .logo-container {
    display: flex;
    align-items: center;
    width: auto;
    .logo {
      margin-left: 2rem;
    }
  }
  .nav-list {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 7.5rem;
    float: right;
    text-align: center;
    transition: all 0.3s;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(16, 22, 46, 0.75);
    li {
      display: none;
      line-height: 3rem;
      margin: 5rem 0;
      transition: all 0.3s;
      a {
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
      }
      a.active,
      a:hover {
        color: #1199fa;
        transition: all 0.3s;
      }
    }
  }
  .hamburger-btn {
    display: block;
    font-size: 3rem;
    color: black;
    float: right;
    line-height: 7.5rem;
    margin-right: 4rem;
    cursor: pointer;
  }
  #check {
    display: none;
  }
  #check:checked ~ .nav-list {
    height: 40vh;
  }
  #check:checked ~ .nav-list li {
    display: block;
    top: 0;
  }
}
/* Pie de página */
footer {
  display: flex;
  width: 100%;
  height: 20vh;
  border: 1px solid red;
  padding: 2.7rem;
  justify-content: space-between;
  .footer-sections {
    height: auto;
    width: 100%;
    border: 1px solid white;
    a {
      font-weight: 300;
      color: white;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
  .footer-social {
    border: 1px solid white;
    height: auto;
    width: 100%;
    text-align: right;
    .linea {
      margin-left: 80%;
    }
    .footer-social__icons {
      width: auto;
      height: 2rem;
      i {
        margin-top: 0.5rem;
        color: white;
        font-size: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

/* INDEX */
.title-container {
  /* Contenedor de los titulos al inicio de la página */
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  justify-content: center;
  padding-left: 3rem;
  h1,
  h2,
  h3 {
    color: white;
    font-size: 4rem;
    font-weight: 500;
  }
  p {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.work-container {
  /* Trabajos */
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 45vh;
  .work-title-container {
    /* Contenedor de los 2 <p> */
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
    .first-p {
      color: white;
      font-weight: 300;
      font-size: 2rem;
    }
    .second-p {
      a {
        color: #1199fa;
        font-weight: 500;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
  .cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 36vh;
    .card {
      backdrop-filter: blur(1.6rem) saturate(180%);
      -webkit-backdrop-filter: blur(1.6rem) saturate(180%);
      background-color: rgba(16, 22, 46, 0.75);
      border-radius: 1.2rem;
      border: 1px solid rgba(255, 255, 255, 0.125);
      width: 40%;
      height: 80%;
    }
  }
}

@media only screen and (min-width: 900px) {
  nav {
    height: 10rem;
    background-color: transparent;
    .logo-container {
      margin-left: 2.5rem;
    }
    .hamburger-btn {
      display: none;
    }
    .nav-list {
      position: relative;
      height: 10rem;
      top: 0;
      background: none;
      float: right;
      text-align: right;
      margin-right: 2.5rem;
      transition: none;
      li {
        display: inline-block;
        opacity: 1;
        line-height: 10rem;
        margin: 0 2rem;
        transition: none;
        a {
          color: #37485f;
        }
        a.active,
        a:hover {
          color: black;
        }
      }
    }
  }
}
